.LinksWidgets {
    flex:0.2;
}
.LinksWidgetsChart {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}
.LinksWidgetsChartFilltextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    position: absolute;
    /*top:115px;
    right:85px;*/
    font-size:18px;
    top:27%;
    right:27%;
    background-color: white;
    border-radius: 50%;
    width: 90px;
    height:90px;
    box-shadow:3px 3px 7px 1px rgba(143, 143, 143, 0.199);
}
.LinksWidgetsChartFilltext {
    color:rgb(105, 75, 208);
    font-size:22px;
    margin-top:5px;
    font-weight: bold;
}
.LinksWidgetsChartFilltextTitle {
    font-size: 9px;
    color:rgb(155, 155, 155);
    margin-top:15px

}
.LinksWidgetsChartFilltextTitle2 {
    margin-top:4px;
    font-size: 9px;
    color:rgb(66, 66, 66);
}
.LinksWidgets_TopCategories {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    margin-top:15px;
    padding:0px 30px;
}
.LinksWidgets_TopCategory {
    display: flex;
    flex-direction: column;
}
.LinksWidgets_TopCategoryName {
    font-size: 10px;
    color:rgb(190, 190, 190);
}
.LinksWidgets_TopCategoryPercent {
    font-size:13px;
    font-weight: bold;
    color:#18103B;
    margin-top:10px;
}
.LinksWidgets_TopCategoryBarContainer {
    width: 100%;
    height: 3px;
    background-color: rgb(238, 238, 238);
    margin-top:10px;
    border-radius: 6px;
}

.LinksWidgets_TopCategoryBar {
    height: 3px;
    border-radius: 6px;
}
.LinksWidgets_TopCategoryBar1 {
 
    background-color:rgba(253, 153, 65,1) ;
}
.LinksWidgets_TopCategoryBar2 {
    background-color:rgba(48, 202, 152, 1);
}
.LinksWidgets_TopCategoryBar3 {
    background-color:rgba(56, 73, 127, 1);
}
.LinksWidgets_TopCategoryBar4 {
    background-color:rgba(88, 113, 249, 1) ;
}
.LinksWidgets_CategoriesTitles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:30px;
}
.LinksWidgets_CategoriesTitle {
    font-size:13px;
}
.LinksWidgets_CategoriesDescribe {
    font-size: 11px;
    color:rgb(187, 187, 187);
    margin-top:7px;
}
.LinksWidgets_Categories {
    margin-top:10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 0px 15px;
    box-shadow:3px 3px 7px 1px rgba(143, 143, 143, 0.199);

    align-items: center;
}
.LinksWidgets_CategoriesAddButton {
    width: 40%;
    height: 30px;
    background-color: rgb(118, 94, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    border-radius: 14px;
    margin-top:40px;
    color:white;
    margin-bottom: 15px;
    cursor: pointer;
    box-shadow:1px 2px 4px 1px rgba(143, 143, 143, 0.575);
}
.LinksWidgets_CategoriesTitlesSticky {
    position: sticky;
    top:10px;
}