.LinksC_Filters {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
}

.LinksC_MultiBottun {
    height: 50px;
    z-index: 100;
    flex:0.5;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    flex:0.4;

}
.LinksC_MultiBottun_Button {
    border-bottom: 2px solid #6390ca;
    cursor: pointer;
    height: 100%;
    padding:0px 14px;
    display: flex;
    align-items: center;
    padding-top:7px;
}
.LinksC_MultiBottun_ButtonActive {
    border:2px solid #6390ca;
  
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 0.1s ease;
}
.LinksC_MultiBottun_ButtonActive > span {
    color:rgb(0, 162, 255) !important;
}
.LC_Icon {
    font-size:17px;
    color:rgb(163, 163, 163);
}

.LH_telegramIcon {
    color:#11cbfa;
}
.LH_instgramIcon {
    color:#e1306c;
}
.LH_twitterIcon {
    color:#00ACEE;
}
.LH_rssIcon {
    color:#f38b5b;
}
.LH_paperIcon {
    color:rgba(81,214,168,1);
}
.LH_sheypoorIcon {
    color:#0084FF;
}
.LH_allIcon {
    color:#0bc6d3;
}

.LinksC_SelectBoxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:10px;
    padding: 0px 0px;
}
.LinksC_SelectBoxContainer1 {
    margin-right:0px;
}
.LinksC_SelectBoxContainer > span {
    font-family: 'Shabnam';
    font-size:12px;
    font-weight: bold;
    color:#63738f
}


.LinksC_SelectBoxesSwitch {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #6390ca;
    flex:0.6;

}
.LinksC_SelectPlaceHolder {
    color: rgb(55, 141, 216);
    font-size:13px;
    font-weight: bold;
}
.LinksC_SelectBox {
    margin-right:10px;
}
.LinksC_FiltersSwitchContainer {
    display: flex;
    align-items: center;
}
.LinksC_FiltersSwitchTitle {
    margin-right:15px;
    font-size:11px;
    color:rgb(148, 148, 148);
}
.LinksC_MultiBottun_ButtonTitle {
    font-size: 12px;
    margin-right:6px;
    color:rgb(158, 158, 158);
    display: flex;
    align-items: center;
    padding-bottom: 6px;
}
